platform=xilinx_vck5000_gen4x8_xdma_2_202210_1

[connectivity]
nk=device_mm2s:1:device_mm2s_0
nk=device_s2mm:1:device_s2mm_0

slr = device_mm2s_0:SLR0
slr = device_s2mm_0:SLR0

sp = device_mm2s_0.m_axi_gmem:MC_NOC0
sp = device_s2mm_0.m_axi_gmem:MC_NOC0

stream_connect=device_mm2s_0.stream_in:ai_engine_0.s0
stream_connect=device_mm2s_0.stream_ctrl:ai_engine_0.numels
stream_connect=ai_engine_0.s1:device_s2mm_0.stream_out

[vivado]
# use following line to improve the hw_emu running speed affected by platform
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}
